* {
    font-family: sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
}
html, body {
    background: #fff;
    color: #000;
    padding: 20px;
}

#cal {
    position: relative;
    width: 950px;
}

#date-str {
    font-size: 14px;
}

.event-panel {
    background: #f5f4f2;
    border-bottom: 2px solid #ccc;
    padding: 20px 40px;
}

    .button {
        background: #0472c7;
        color: #fff;
        display: inline-block;
        margin-right: 5px;
        padding: 5px 8px;
        text-shadow: 2px 1px #333;
        text-decoration: none;
    }
    .button.active {
        background: #025da3;
    }

    #search-events {
        border: 1px solid #ccc;
        height: 18px;
        padding: 0px 3px;
        float: right;
        margin: 10px 0 0 0;
        width: 200px;
    }
    .search-icon {
        float: right;
        margin-top: 5px;
    }

#controls {
    margin: 15px 40px;
}

#today {
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 5px;
    padding: 2px 3px;
    position: relative;
    top: -2px;
    text-decoration: none;
}

.month-links {
    outline: none;
    position: relative;
    top: 3px;
}
.month-links img { outline: none; }
img { border: 0;}

#cal-tbl {
    color: #999;
    border-collapse: collapse;
}
#cal-tbl td, #cal-tbl td div {
    border: none;
    height: 120px;
    padding: 0px;
    width: 130px;
    vertical-align: top;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
#cal-tbl td div {
    border: 1px solid #ccc;
    padding: 3px;
    line-height: 150%;
}
#cal-tbl td div:hover {
    background: #dff4ff;
    border-color: #67ace0;
}
#cal-tbl td div.has-event{
    background-color: #c2e3fc;
}
#cal-tbl td div.selected{
    border-color: #67ace0;
}
#cal-tbl td div.today{
    background: #f5f4f2;
    color: #666;
    font-weight: bold;
}

#add-event-fast {
    background-color: #fff;
    height: 50px;
    display: none;
    padding: 18px 15px 15px 15px;
    position: absolute;
    top: 59px;
    left: 42px;
    width: 200px;

    -webkit-box-shadow: 0px 1px 10px rgba(50, 50, 50, 0.66);
    -moz-box-shadow:    0px 1px 10px rgba(50, 50, 50, 0.66);
    box-shadow:         0px 1px 10px rgba(50, 50, 50, 0.66);
}

#add-event-fast .arrow{
    position: absolute;
    top: -11px;
    left: 15px;
}
#evt-text {
    height: 15px;
    padding: 0px 4px;
    width: 90%;
}


/*#add-event {*/
.rnd-button {
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #333 !important;
    display: inline-block;
    margin: 8px 0;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
}
div.close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    height: 8px;
    width: 8px;
}

#full-event {
    background: #fff;
    display: none;
    padding: 18px 15px 10px 18px;
    position: absolute;
    top: 120px;
    left: 560px;
    width: 250px;

    -webkit-box-shadow: 0px 1px 10px rgba(50, 50, 50, 0.66);
    -moz-box-shadow:    0px 1px 10px rgba(50, 50, 50, 0.66);
    box-shadow:         0px 1px 10px rgba(50, 50, 50, 0.66);
}
    #full-event .arrow{
        background: transparent;
        position: absolute;
        left: -11px;
        top: 20px;
    }

    #full-event .field{
        font-weight: bold;
    }

    #full-event #event-name{
        font-size: 18px;
        margin-bottom: 20px;
    }
    #full-event #date{
        font-weight: bold;
        margin-bottom: 20px;
    }
    #participants {
        margin-bottom: 20px;
    }
    #participants .caption {
        font-size: 10px;
    }
    #event-name-input {margin: 5px 0 20px 0;}
    #full-event input,
    #full-event textarea {
        border: 1px solid #ccc;
        height: 20px;
        padding: 0px 4px;
        width: 237px;
    }
    #full-event textarea {
        height: 100px;
    }



























