# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.pyc

# OS or Editor folders
.DS_Store
.cache
.project
.settings
nbproject
thumbs.db
bmsite/static/admin
bmsite/static/admin/*
bmsite/media
bmsite/fabfile.py

#temp files
test.html
settings_local.py
.pydevproject

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
publish
.idea

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties

#fonts
*.ttf
